@use "../src/styles/montserrat-fonts";

:root {

    /* Layout */
        --header-height: 3rem;
        --footer-height: 2.5rem;
        --header-padding-y: 1rem;
        --header-padding-x: 2rem;

    /* colors */
        --primary-color: rgba(52, 152, 219, 1);
        --secondary-color: rgba(46, 204, 113, 1);
        --text-color: rgba(51, 51, 51, 1);
        --background-color: rgba(245, 245, 245, 1);
        --surface-color: rgba(255, 255, 255, 0.9);
        --card-bg-color: rgba(0, 0, 0, 0.05);
        --card-bg-hover-color: rgba(0, 0, 0, 0.1);

        /* Overlay colors for hover effects */
        --hover-overlay-weak: rgba(0, 0, 0, 0.05);
        --hover-overlay-strong: rgba(0, 0, 0, 0.15);
}

body.dark-theme {
    --primary-color: rgba(52, 152, 219, 1);
    --secondary-color: rgba(46, 204, 113, 1);
    --text-color: rgba(245, 245, 245, 1);
    --background-color: rgba(30, 30, 30, 1);
    --surface-color: rgba(255, 255, 255, 0.05);
    --card-bg-color: rgba(255, 255, 255, 0.05);
    --card-bg-hover-color: rgba(255, 255, 255, 0.1);

    /* Overlay colors for hover effects */
    --hover-overlay-weak: rgba(255, 255, 255, 0.1);
    --hover-overlay-strong: rgba(255, 255, 255, 0.25);
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

